* {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
span,
figure {
  padding: 0;
  margin: 0; }

button, a {
  box-shadow: none;
  border: none;
  text-decoration: none;
  outline: none;
  display: block; }

a:link, a:visited, a:focus {
  color: inherit; }

@font-face {
  font-family: 'Exo-2';
  src: url("../assets/fonts/Exo2.0-Thin.otf") format("otf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'League-gothic';
  src: url("../assets/fonts/League_Gothict.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Museo-sans';
  src: url("../assets/fonts/Museo_sans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Museo-slab';
  src: url("../assets/fonts/Museo_slab.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.html-icon {
  background-image: url("../img/icons/html-icon.svg"); }

.css-icon {
  background-image: url("../img/icons/css3.svg"); }

.react-icon {
  background-image: url("../img/icons/react-logo.svg");
  background-size: 100%; }

.js-icon {
  background-image: url("../img/icons/js-icon.svg"); }

.sass-icon {
  background-image: url("../img/icons/sass-logo.svg"); }

.pug-icon {
  background-image: url("../img/icons/pug-logo.svg"); }

.github-icon {
  background-image: url("../img/icons/github-logo.svg"); }

.webpack-icon {
  background-image: url("../img/icons/webpack-icon.svg"); }

.gulp-icon {
  background-image: url("../img/icons/gulp-icon.svg");
  max-height: 35px; }

@-webkit-keyframes sheen {
  100% {
    -webkit-transform: rotateZ(90deg) translate(1em, -9em);
            transform: rotateZ(90deg) translate(1em, -9em); } }

@keyframes sheen {
  100% {
    -webkit-transform: rotateZ(90deg) translate(1em, -9em);
            transform: rotateZ(90deg) translate(1em, -9em); } }

.popup {
  position: absolute;
  background-color: aliceblue;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  display: -webkit-flexbox;
  display: flex;
  -webkit-flex-align: center;
  align-items: center;
  justify-content: center; }
  .popup__container {
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 25px 30px 50px;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.15);
    border-radius: 10px; }

.menu__header {
  font: 400 normal 19px/1 "League-gothic", "Arial", sans-serif;
  margin-bottom: 50px;
  position: relative; }

.menu__close-btn {
  right: 0;
  top: 0; }

.menu__title {
  margin-bottom: 10px;
  font: inherit;
  font-size: 35px; }

.projects {
  width: 100%;
  margin-bottom: 25px;
  max-height: 700px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap; }
  @media (min-width: 960px) {
    .projects {
      justify-content: space-between; } }

.tech-icons {
  max-width: 70%;
  width: 100%;
  min-height: 50px;
  position: absolute;
  left: 15px;
  bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap; }
  @media (min-width: 960px) {
    .tech-icons {
      max-width: 60%; } }
  .tech-icons__item {
    max-width: 55px;
    width: 100%;
    min-height: 55px;
    height: auto;
    background-repeat: no-repeat;
    background-position: 50% 59%;
    height: auto;
    background-size: 80%;
    background-repeat: no-repeat; }

.project {
  width: 100%;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.65), rgba(173, 216, 230, 0.75));
  border: 5px solid #00b7ff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative; }
  @media (min-width: 960px) {
    .project {
      width: calc(49% - 10px);
      margin-bottom: 20px; } }
  .project__main {
    min-height: 200px;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font: 400 normal 25px/1 "League-gothic", "Arial", sans-serif; }
    .project__main:hover::after {
      content: "Open Project Demo";
      position: absolute;
      width: 100%;
      height: 200px;
      top: 0;
      left: 0;
      background-color: rgba(255, 165, 0, 0.8);
      color: white;
      font-size: 55px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap; }
  .project__title {
    max-width: 100%;
    width: 100%;
    font-family: "Museo-sans", "Arial", sans-serif; }
  .project__tech-stack {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap; }
  .project__tech-stack-title {
    font: 400 normal 17px/1 "Makazi", "Arial", sans-serif;
    margin-right: 20px; }

.project-source {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 200px;
  z-index: 5;
  background-color: plum;
  border-radius: 5px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  transition: background .9s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap; }
  .project-source:hover {
    background-color: rgba(0, 255, 127, 0.4); }
  .project-source__title {
    font: 600 normal 16px/1 "Makazi", "Arial", sans-serif;
    margin-right: 10px;
    text-transform: uppercase; }
  .project-source__github-icon {
    background-image: url("../img/icons/github-logo.png");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position-y: 50%;
    height: 50px;
    width: 50px; }

.close-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px; }
  .close-btn span {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 17px;
    background-color: black; }
    .close-btn span:first-child {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .close-btn span:last-child {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.back-home-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: rgba(75, 202, 243, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 2px white; }
  .back-home-btn:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
  .back-home-btn::after, .back-home-btn::before {
    content: '';
    width: 2px;
    height: 17px;
    left: 21px;
    background-color: white;
    position: absolute; }
  .back-home-btn::after {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .back-home-btn::before {
    top: 21px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

body {
  background: linear-gradient(180deg, #fcde38, #ffbc08) no-repeat;
  background-size: cover;
  background-color: #ffbc08;
  overflow-x: hidden; }

.main-page {
  height: 100vh; }

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 590px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: inset -20px -20px 140px #4bcaf3, inset 0px 0px 20px #4bcaf3, 0 0 2px 0 rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  font-size: 16px;
  background-color: #fff;
  color: #fff;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap; }
  .circle::before {
    top: -50%;
    right: -30%;
    bottom: -50%;
    left: -78%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.8) 50%, rgba(229, 172, 142, 0));
    -webkit-transform: rotateZ(90deg) translate(-5em, 9em);
            transform: rotateZ(90deg) translate(-5em, 9em);
    position: absolute;
    content: '';
    -webkit-animation: sheen 3s 2s linear infinite forwards;
            animation: sheen 3s 2s linear infinite forwards; }
  .circle:hover {
    box-shadow: inset -20px -20px 140px #4bcaf3, inset 0px 0px 20px #4bcaf3, 0 0 2px rgba(0, 0, 0, 0.8), 0 0 18px 3px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in, -webkit-transform .25s ease-in; }
  .circle:active {
    box-shadow: inset -20px -20px 160px #4bcaf3, inset 0px 0px 40px #4bcaf3, inset 0px 0px 10px 2px rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.8), 0 0 7px 3px rgba(255, 255, 0, 0.2);
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s; }
  .circle__letter {
    font: 400 normal 25px/1 "League-gothic", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 50px;
    text-align: center;
    transition: .3s ease-in; }

.js-hidden {
  visibility: hidden; }

.shulte-page {
  background: rgba(0, 188, 212, 0.1);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap; }

.shulte-board {
  padding: 75px 50px 100px;
  max-width: 1100px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap; }
  .shulte-board__controllers {
    padding: 20px;
    align-self: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap; }

@-webkit-keyframes appearing-slightly {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1), translate(-50%, -50%);
            transform: scale(1), translate(-50%, -50%); } }

@keyframes appearing-slightly {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1), translate(-50%, -50%);
            transform: scale(1), translate(-50%, -50%); } }

@-webkit-keyframes disappearing-slightly {
  0% {
    opacity: 1;
    -webkit-transform: scale(1), translate(-50%, -50%);
            transform: scale(1), translate(-50%, -50%); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes disappearing-slightly {
  0% {
    opacity: 1;
    -webkit-transform: scale(1), translate(-50%, -50%);
            transform: scale(1), translate(-50%, -50%); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); } }

.slow-appearing {
  -webkit-animation-name: appearing-slightly;
          animation-name: appearing-slightly;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

.slow-disappearing {
  -webkit-animation-name: disappearing-slightly;
          animation-name: disappearing-slightly;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.shulte-tutorial {
  display: none;
  opacity: 0;
  max-width: 700px;
  width: 100%;
  position: absolute;
  background-color: #fbfaf8;
  padding: 0 30px 30px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1px; }
  .shulte-tutorial__question {
    font: 300 normal 25px/50px "Makazi", "Arial", sans-serif;
    color: #944343;
    margin-bottom: 20px; }
  .shulte-tutorial__answer {
    font: 300 normal 14px/1.2 "Makazi", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.6); }

.shulte-table-wrap {
  position: relative;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  max-width: 500px; }

.shulte-table {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  max-width: 500px;
  width: 100%;
  height: 500px; }
  .shulte-table__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    font: 400 normal 1.4em/1 "Makazi", "Arial", sans-serif;
    width: 20%;
    height: 20%;
    color: #000;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .shulte-table__cell:nth-child(2n) {
      background-color: #e3e3e3; }
    .shulte-table__cell:hover {
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
      z-index: 2; }

.shulte-btn {
  max-width: 120px;
  min-width: 120px;
  min-height: 45px;
  width: 100%;
  background-color: rgba(148, 67, 67, 0.8);
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  margin-right: 10px;
  transition: all 0.5s;
  font-family: "Arial", sans-serif; }
  .shulte-btn:hover {
    background-color: #944343;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 4px; }
  .shulte-btn:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }

.shulte-btn--main {
  background-color: rgba(252, 222, 56, 0.85);
  color: #944343; }
  .shulte-btn--main:hover {
    background-color: #fcde38;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    color: #944343; }

.js-show {
  display: block; }
