.close-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px; }
  .close-btn span {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 17px;
    background-color: black; }
    .close-btn span:first-child {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .close-btn span:last-child {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.back-home-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: rgba(75, 202, 243, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 2px white; }
  .back-home-btn:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
  .back-home-btn::after, .back-home-btn::before {
    content: '';
    width: 2px;
    height: 17px;
    left: 21px;
    background-color: white;
    position: absolute; }
  .back-home-btn::after {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .back-home-btn::before {
    top: 21px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

@-webkit-keyframes sheen {
  100% {
    -webkit-transform: rotateZ(90deg) translate(1em, -9em);
            transform: rotateZ(90deg) translate(1em, -9em); } }

@keyframes sheen {
  100% {
    -webkit-transform: rotateZ(90deg) translate(1em, -9em);
            transform: rotateZ(90deg) translate(1em, -9em); } }

* {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
span,
figure {
  padding: 0;
  margin: 0; }

button, a {
  box-shadow: none;
  border: none;
  text-decoration: none;
  outline: none;
  display: block; }

a:link, a:visited, a:focus {
  color: inherit; }

body {
  box-shadow: 0 0 5px 3px #000; }

.box {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px; }

.header-holder {
  min-height: 100vh;
  background: url("../img/waxom-landing/intro-bg.png") no-repeat;
  position: relative;
  padding-bottom: 150px;
  background-attachment: fixed;
  background-size: 100%; }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 15rem; }
  .header__btns-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    margin-left: 70px; }

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap; }
  .logo__img {
    width: 60px;
    margin-right: 15px; }
  .logo__text {
    font: 300 normal 34px/1 "Raleway", sans-serif;
    color: #fff; }

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
  margin-left: auto;
  color: #fff; }
  .menu__link {
    margin-right: 30px;
    font: 300 normal 14px/1 "Montserrat", sans-serif; }
    .menu__link:last-child {
      margin-right: 0; }
    .menu__link:hover {
      color: #c7b299; }

.cart-btn {
  margin-right: 25px; }

.intro {
  max-width: 595px;
  margin: 0 auto; }
  .intro__title {
    font: 300 normal 36px/1 "Raleway", sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 10px; }
    .intro__title_bold {
      font-weight: 800;
      font-size: 52px; }
  .intro__sub-title {
    font: 300 normal 16px/24px "Montserrat", sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 60px; }

.btn-brown {
  background-color: #998675;
  max-width: 170px;
  height: 52px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: 3px solid #736357;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  font: 800 normal 14px/23px "Raleway", sans-serif; }
  .btn-brown:active {
    background-color: #736357;
    border-bottom-color: #4a3d33;
    -webkit-transform: scale(0.99);
            transform: scale(0.99); }

.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 80px; }

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 271px;
  width: 100%;
  position: relative; }
  .feature__icon-wrap {
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap; }
  .feature__title {
    font: 600 normal 22px/1 "Raleway", sans-serif;
    margin-bottom: 20px;
    margin-top: auto; }
  .feature__text {
    font: 300 normal 14px/24px "Montserrat", sans-serif;
    text-align: center; }
  .feature__indicator {
    background-color: #f1eee9;
    width: 70px;
    height: 3px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.feature:hover .feature__icon {
  flood-color: #c7b299; }

.feature:hover .feature__title {
  color: #c7b299; }

.feature:hover .feature__indicator {
  background-color: #c7b299; }

.promo {
  background-color: #fbfaf8;
  padding-top: 100px; }
  .promo__header {
    max-width: 780px;
    margin: 0 auto 50px; }
  .promo__title {
    font: 600 normal 30px/1 "Raleway", sans-serif;
    margin-bottom: 30px;
    text-align: center; }
  .promo__sub-title {
    font: 300 normal 16px/28px "Montserrat", sans-serif;
    text-align: center; }
  .promo__desktops-img {
    width: 100%;
    position: relative;
    bottom: -4px; }

.wordpress-line {
  padding-top: 55px;
  padding-bottom: 55px;
  background: linear-gradient(90deg, #000, #4e3427); }
  .wordpress-line__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap; }
  .wordpress-line__title {
    font: 300 normal 28px/1 "Raleway", sans-serif;
    color: #fff;
    margin-bottom: 10px; }
    .wordpress-line__title span {
      color: #c7b299; }
  .wordpress-line__sub-title {
    font: 300 normal 18px/1 "Montserrat", sans-serif;
    color: #615855; }
  .wordpress-line__btn {
    margin-right: 30px;
    color: #fff; }
    .wordpress-line__btn:visited, .wordpress-line__btn:focus {
      color: #fff; }

.projects__header {
  margin-bottom: 40px; }

.projects__title {
  font: 600 normal 30px/1 "Raleway", sans-serif;
  background-color: #fbfaf8;
  padding-top: 80px;
  padding-bottom: 10px;
  text-align: center;
  color: #555555; }

.projects__sub-title {
  font: 300 normal 16px/28px "Montserrat", sans-serif;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  color: #8c8c8c; }

.projects__filter-btns {
  margin: 0 auto 40px;
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap; }

.projects__filter-btn {
  border: 1px solid #ebebeb;
  border-radius: 2px;
  background-color: transparent;
  height: 32px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  color: #8c8c8c;
  font: 300 normal 14px/21px "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap; }
  .projects__filter-btn:last-child {
    margin-right: 0; }
  .projects__filter-btn_active {
    background: #c7b299;
    color: #fff; }
  .projects__filter-btn:hover {
    background: #c7b299;
    color: #fff; }

.projects__items {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap; }

.projects__show-more-btn {
  height: 50px;
  margin-bottom: 80px; }

.project-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  max-width: 372px;
  width: 100%;
  margin-bottom: 30px;
  position: relative; }
  .project-card__img-wrap {
    display: flex;
    position: relative; }
  .project-card__img-hover {
    display: none;
    position: absolute;
    width: 100.5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .project-card__description {
    background-color: #fbfaf8;
    padding: 30px;
    width: 100%;
    position: relative; }
    .project-card__description:after {
      content: '';
      width: 25px;
      height: 25px;
      background-color: #fbfaf8;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      position: absolute;
      top: -5px;
      left: 15px; }
  .project-card__title {
    color: #cab79f;
    margin-bottom: 10px;
    font: 300 normal 20px/1 "Raleway", sans-serif; }
  .project-card__tags {
    color: #d1d1d1;
    font: 300 normal 14px/1 "Montserrat", sans-serif; }
  .project-card__hover-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 70px;
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .project-card__hover-items img {
      cursor: pointer; }
      .project-card__hover-items img:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        transition: -webkit-transform .25s;
        transition: transform .25s;
        transition: transform .25s, -webkit-transform .25s; }

.project-card_hover {
  position: relative;
  overflow: hidden; }
  .project-card_hover .project-card__img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .project-card_hover .project-card__img-hover {
    display: block; }
  .project-card_hover .project-card__hover-items {
    display: flex; }
  .project-card_hover .project-card__description {
    background-color: #362f2d; }
    .project-card_hover .project-card__description::after {
      display: none; }
  .project-card_hover .project-card__title {
    color: #fff; }
  .project-card_hover .project-card__tags {
    color: #c7b299; }

.video-section {
  height: 1px; }
